body {
  background-color: rgba(12,12,12,1);
  color: rgba(170,170,170,1);
}
div {
  display: inline-block;
}

#pageTitle {
  text-align: center;
}

#buttonCont {
  float: right;
}
.indicator {
  background: radial-gradient(closest-side, rgba(160,21,21,1), rgba(160,21,21,0));
  padding: 40px;
  width: 100px;
  text-align: center;
}
.button {
  background: radial-gradient(closest-side, rgba(21,21,160,1), rgba(21,21,160,0));
  padding: 40px;
  width: 100px;
  text-align: center;
}

#instructionsCont {
  text-align: center;
  width: 100%;
}
#instructions {
  width: 60%;
  display: inline-block;
}

#gameBoardCont {
  display: block;
  text-align: center;
}
